
.login-main{
    display: flex;
    flex-direction: column;
    background-color: black;
    background-image: url("https://images.pexels.com/photos/2706654/pexels-photo-2706654.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") ;
    color:whitesmoke;
    align-items: center;
    font-size: 2rem;
    

}

h1{
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-base{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.form-button{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:5%;
    margin: 10px;
    background-color: black;
    color:white;
    padding:5px;
}

.form-button:hover{
    color:maroon;
}


