
.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: whitesmoke;
    padding:20px;
    margin:auto;
    background-image: url("/Users/test/Documents/React-Projects/space-travel/space/src/Components/Images/space-navbar.jpg");
    border: 5px solid white;
}

h1{
    color: whitesmoke;
    font-size: 2rem;
    margin:auto;
}
.nav > ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}


ul > li{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    cursor: pointer;
}


li>a{
    margin:auto;
    color: #A91079;
    text-decoration: none;
    cursor: pointer;
}



ul> li>a:hover{
    color:white;
}


